{% extends 'base.html.twig' %}
{% block title 'Ajouter un utilisateur' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/flatpickr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flatpickr_dark.min.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        {{  include ('pages/dashboard/users/crud/_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/flatpickr.min.js') }}"></script>
    <script src="{{ asset('js/fr.js') }}"></script>
    <script>
        flatpickr(".flatpickr", {
            altInput: true,
            altFormat: "d/m/Y",
            dateFormat: "Y-m-d",
            locale: "fr"
        })
    </script>
{% endblock %}