{% extends 'base.html.twig' %}
{% block title 'Changement du mot de passe' %}
{% block body %}
    <div class="container">
        {% for message in app.flashes('success-pass-changed') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(changeForm) }}
            <div class="col-md-6 mx-auto">
                <div>{{ form_row(changeForm.password) }}</div>
                <div>{{ form_row(changeForm.captcha) }}</div>
                <button class="btn btn-primary">Changer de mot de passe</button>
            </div>
        {{ form_end(changeForm) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}