{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.title) }}</div>
        <div class="col-md-4">{{ form_row(form.author) }}</div>
        <div class="col-md-4">{{ form_row(form.image) }}</div>
        <div class="col-md-6">{{ form_row(form.slug) }}</div>
        <div class="col-md-6">{{ form_row(form.content) }}</div>
        <div class="col-md-6">{{ form_row(form.active) }}</div>
        <button class="btn btn-primary col-md-4 mx-auto mt-5" type="submit">{{ button|default('Publier') }}</button>
    </div>
{{ form_end(form) }}