{% extends 'base.html.twig' %}
{% block title 'Gestion des articles' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}
{% block body %}
    <div class="container">
        <h4 class="text-center mt-3">Gestion des articles</h4>
        {{ include('_reusable/_success_alert.html.twig') }}
        <a href="{{ path('admin.blog.post.create') }}" class="btn btn-primary float-right mb-1">Publier</a>
        <table class="table table-stripped mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom de l'article</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Creation</th>
                    <th scope="col">Modification</th>
                    <th scope="col">Outils</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    <td>{% if post.category is null %} Aucune catégorie {% else %} {{ post.category }} {% endif %}</td>
                    <td>{{ post.createdAt | date("H:i m/d/Y") }}</td>
                    <td>{% if post.editedAt is null %} Aucune modification {% else %} {{ post.editedAt | date("H:i m/d/Y") }} {% endif %}</td>
                    <td><a href="{{ path('admin.blog.post.edit', {id: post.id}) }}" id="edit" data-toggle="tooltip" data-placement="top" title="Éditer"><i class="far fa-edit"></i></a>
                        <form method="post" action="{{ path('admin.blog.post.delete', {id: post.id}) }}" class="d-inline-block">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                            <button id="delete" data-toggle="tooltip" data-placement="top" title="Supprimer"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}