<!--
Template a mettre en forme avec MJML
-->
<div>
    <span>Bonjour {{ user }}</span><br>
    <span>Bienvenue sur le site !</span><br>
    <p>J'espère que vous passerez un bon moment en compagnie de la communauté, vous trouverez ci dessous vos information de connexion</p><br>
    <span>Nom d'utilisateur : {{ user }}</span><br>
    <span>Email : {{ email }}</span>
    <span>Confirmiez votre compte en clique sur ce lien : <a href="{{ url('confirmation_account', {token: token}) }}">{{ url('confirmation_account', {token: token}) }}</a> </span>
</div>