{% for post in posts %}
    <div class="card mt-5" style="width: 360px; height: auto;">
        {% if post.pictureFilename %}
            <img src="{{ vich_uploader_asset(post, 'pictureFile') | cloud_image('symfony-project-blog', 'blog') }}" class="card-img-top" alt="{{ post.title }}" style="width: 360px; height: 230px;">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"><a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">{{ post.title }}</a></h5>
            <p class="card-text">{{ post.content | unformatted_text | truncate }}</p>
            <span class="blockquote-footer">{{ post.author }}</span>
        </div>
    </div>
{% endfor %}