{% extends 'base.html.twig' %}
{% block title post.title %}
{% block stylesheets %}
    {{ encore_entry_link_tags('markdown') }}
{% endblock %}
{% block body %}
    <div class="container">
        {{ include('/_reusable/_success_alert.html.twig') }}
        {{ include('/_reusable/_error_alert.html.twig') }}
        <div class="post-banner mt-5">
            {% if post.bannerFilename %}
                <div class="card-body">
                    <img src="{{ vich_uploader_asset(post, 'bannerFile') | cloud_image('symfony-project-blog', 'blog') }}" alt="{{ post.title }}" class="card-img-top">
                </div>
            {% endif %}
        </div>
        <div class="post mt-5 mb-3">
            <div class="card-body">
                <h5 class="card-title text-center">{{ post.title }}</h5>
                <div class="datetime mt-3">{{ post.createdAt | ago('text-black-50') }} {% if category %}- <a href="{{ path('blog.category', {slug: category.slug}) }}" class="text-decoration-none text-muted">{{ category.name }}</a>{% endif %}</div>
                <p class="card-text mt-3">{{ post.content | markdown_converter | raw }}</p>
                <span class="blockquote-footer text-right">{{ post.author }}</span>
                <a href="{{ path('blog.like', {id: post.id, slug: post.slug}) }}" class="btn btn-like js-like">
                    {% if app.user and post.likedByUser(app.user) %}
                        <i class="like fas fa-thumbs-up float-left"></i>
                    {% else %}
                        <i class="like far fa-thumbs-up float-left"></i>
                    {% endif %}
                    <span class="float-left js-likes">{{ post.likes | length }}</span>
                    <span class="float-left js-label">Like</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- TODO: Remplacer la span par une div -->
        <span class="text-dark mt-3" style="font-size: 20px"><span class="nbr-comment-js">{{ nbrComment }}</span> <span>{% if nbrComment > 1 %} Commentaires {% else %} Commentaire {% endif %}</span>
            <span class="float-right">
                <a class="twitter-share" target="_blank" href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ url('blog.show', {id: post.id, slug: post.slug}) }}&via=Mael_91"><i class="fab fa-twitter"></i></a>
            </span>
        </span>
        <div class="border-top my-3"></div>
        <div class="send-comment mt-3">
            <div class="comment-action">
                <form action="{{ path('blog.comment', {id: post.id, slug: post.slug, post: post.id}) }}" method="post" class="form-group comment-js" name="comment_form" id="comment">
                    <label for="comment_text" class="required">Votre commentaire</label>
                    <textarea class="form-control autoExpand comment-zone" id="comment_text" name="comment_zone"></textarea>
                    <input type="hidden" name="_csrf_token_comment" value="{{ csrf_token('comment' ~ post.id) }}" id="csrf">
                    <button class="btn btn-success comment-btn submit-js" type="submit">Commenter</button>
                </form>
            </div>
        </div>
        {% for comment in comments %}
            <comment-block  author="{{ comment.author }}"
                            author-avatar="{% if comment.author.avatarFilename is not null %}{{ vich_uploader_asset(comment.author, 'avatarFile') | cloud_image('symfony-project-blog', 'user/avatar') }} {% else %}/test/test_banner.jpg {% endif %}"
                           author-link="{{ path('profil.index', {id: comment.author.id}) }}"
                           datetime="{{ comment.createdAt | agoCustomElem('comment-date') }}"
                           comment-id="{{ comment.id }}">
                {{ comment.content }}
            </comment-block>
            {% if comment.children is not empty %}
                {% for commentChild in comment.children %}
                    <comment-block author="{{ commentChild.author }}"
                                   author-avatar="{% if commentChild.author.avatarFilename is not null %}{{ vich_uploader_asset(commentChild.author, 'avatarFile') | cloud_image('symfony-project-blog', 'user/avatar') }} {% else %}/test/test_banner.jpg{% endif %}"
                                   author-link="{{ path('profil.index', {id: commentChild.author.id}) }}"
                                   datetime="{{ commentChild.createdAt | agoCustomElem('comment-date') }}"
                                   isReply="true"
                                   parent-id="{{ commentChild.parent.id }}">
                        {{ commentChild.content }}
                    </comment-block>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <div class="pagination mt-2">
            {{ knp_pagination_render(comments) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('textareaResize') }}
    {{ encore_entry_script_tags('blogLike') }}
    {{ encore_entry_script_tags('blogComment') }}
    {{ encore_entry_script_tags('blogAction') }}
    <script src="{{ asset('js/timeago.min.js') }}"></script>
    <script src="{{ asset('js/timeago.locales.min.js') }}"></script>
    <script>
        timeago().render(document.querySelectorAll('.timeago'), 'fr')
    </script>
{% endblock %}