{% extends 'base.html.twig' %}
{% block title post.title %}
{% block stylesheets %}
    {{ encore_entry_link_tags('markdown') }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="post-banner mt-5">
            {% if post.bannerFilename %}
                <div class="card-body">
                    <img src="{{ vich_uploader_asset(post, 'bannerFile') | cloud_image('symfony-project-blog', 'blog') }}" alt="{{ post.title }}" class="card-img-top">
                </div>
            {% endif %}
        </div>
        <div class="post mt-5 mb-3">
            <div class="card-body">
                <h5 class="card-title text-center">{{ post.title }}</h5>
                <div class="datetime mt-3">{{ post.createdAt | ago('text-black-50') }} {% if category %}- <a href="{{ path('blog.category', {slug: category.slug}) }}" class="text-decoration-none text-muted">{{ category.name }}</a>{% endif %}</div>
                <p class="card-text mt-3">{{ post.content | markdown_converter | raw }}</p>
                <span class="blockquote-footer text-right">{{ post.author }}</span>
                <a href="{{ path('blog.like', {id: post.id, slug: post.slug}) }}" class="btn btn-like js-like">
                    {% if app.user and post.likedByUser(app.user) %}
                        <i class="like fas fa-thumbs-up float-left"></i>
                    {% else %}
                        <i class="like far fa-thumbs-up float-left"></i>
                    {% endif %}
                    <span class="float-left js-likes">{{ post.likes | length }}</span>
                    <span class="float-left js-label">Like</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- TODO: Remplacer la span par une div -->
        <span class="text-dark mt-3" style="font-size: 20px"><span class="nbr-comment-js">{{ nbrComment }}</span> <span>{% if nbrComment > 1 %} Commentaires {% else %} Commentaire {% endif %}</span>
            <span class="float-right">
                <a class="twitter-share" target="_blank" href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ url('blog.show', {id: post.id, slug: post.slug}) }}&via=Mael_91"><i class="fab fa-twitter"></i></a>
            </span>
        </span>
        <div class="border-top my-3"></div>
        {{ include('_reusable/_success_alert.html.twig') }}
        {{ include('_reusable/_error_alert.html.twig') }}
        <div class="send-comment mt-3">
            <div class="comment-action">
                <form action="{{ path('blog.comment', {id: post.id, slug: post.slug, post: post.id}) }}" method="post" class="form-group comment-js" name="comment_form" id="comment">
                    <label for="comment_text" class="required">Votre commentaire</label>
                    <textarea class="form-control autoExpand comment-zone" id="comment_text" name="comment_zone"></textarea>
                    <input type="hidden" name="_csrf_token_comment" value="{{ csrf_token('comment' ~ post.id) }}" id="csrf">
                    <button class="btn btn-success comment-btn submit-js" type="submit">Commenter</button>
                </form>
            </div>
        </div>
        <div class="block-comment" id="block-comment">
            {% for comment in comments %}
                <div class="comment" style="margin-top: 20px;" id="{{ comment.id }}">
                    <div class="comment-card card">
                        <div class="card-body">
                            <span class="card-title">
                                <a href="" class="text-decoration-none text-muted" style="font-size: 1rem; font-weight: 700">{{ comment.author }}</a>
                                <abbr class="datetime">- {{ comment.createdAt | ago('text-black-50') }} -</abbr>
                                <button class="show-reply-zone text-muted" style="font-size: .7rem; text-decoration:  underline;" id="reply" data-id="{{ comment.id }}">Répondre</button>
                            </span>
                            <p class="card-text mt-2">{{ comment.content | nl2br }}</p>
                        </div>
                    </div>
                    {% if comment.children is not empty %}
                        {% for commentChild in comment.children %}
                            <div class="reply">
                                <div class="reply-card card card-color">
                                    <div class="card-body">
                                    <span class="card-title">
                                        <a href="" class="text-decoration-none text-muted" style="font-size: 1rem; font-weight: 700">{{ commentChild.author }}</a>
                                        <abbr class="datetime">- {{ commentChild.createdAt |ago('text-black-50') }} -
                                        </abbr> <button class="show-reply-zone text-muted" style="font-size: .7rem; text-decoration:  underline;">Répondre</button>
                                    </span>
                                        <p class="card-text mt-2">{{ commentChild.content }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination mt-2">
            {{ knp_pagination_render(comments) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('textareaResize') }}
    {{ encore_entry_script_tags('blogLike') }}
    {{ encore_entry_script_tags('blogComment') }}
    {{ encore_entry_script_tags('blogReplyAction') }}
    <script src="{{ asset('js/timeago.min.js') }}"></script>
    <script src="{{ asset('js/timeago.locales.min.js') }}"></script>
    <script>
        timeago().render(document.querySelectorAll('.timeago'), 'fr')
    </script>
{% endblock %}