<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="container-navbar">
            <div class="topbar">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="{{ asset('build/images/icon_pop_framework.png') }}" alt="Favicon" class="favicon">
                </a>
                <nav class="menu-icon-sm hamburger-btn" id="sidebar">
                    <i class="fas fa-bars hamburger-btn"></i>
                    <div class="menu-content" id="sidebarMenu">
                        <div class="sidebar-body"></div>
                        <div class="sidebar-content"></div>
                    </div>
                </nav>
                <nav class="nav-left">
                    <a class="text-lightBlue no-style borderB-lb-hover {% if current_menu is defined and current_menu == 'home' %} active {% endif %}" href="{{ path('home') }}">Accueil</a>
                    <a class="text-lightBlue no-style borderB-lb-hover {% if current_menu is defined and current_menu == 'blog' %} active {% endif %}" href="{{ path('blog.index') }}">Blog</a>
                    <a class="text-lightBlue no-style borderB-lb-hover {% if current_menu is defined and current_menu == 'guide' %} active {% endif %}" href="{{ path('guide') }}">Guide</a>
                </nav>
                <nav class="nav-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span class="search-icon"><i class="fas fa-search"></i></span>
                        <span class="notif-info"><i class="far fa-bell"></i></span>
                        <span class="profil-sidebar" id="btn-sidebar-profil"><img src="{{ asset('build/images/avatar_navbar.jpg') }}" class="profil-avatar avatar-btn"></span>
                    {% else %}
                        <a class="no-style" href="{{ path('register') }}">
                            <button type="button" class="btn btn-outline btn-outline-lightBlue btn-lightBlue_notFilled">S'inscrire</button>
                        </a>
                        <a class="no-style" href="{{ path('login') }}">
                            <button type="button" class="btn btn-lightBlue btn-lightBlue_filled">Se connecter</button>
                        </a>
                    {% endif %}
                </nav>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <nav class="menu-profil" id="sidebarProfil">
                        <div class="sidebar-p-body">
                            <span class="sidebar-profil"><img src="{{ asset('build/images/avatar_navbar.jpg') }}" class="sidebar-avatar"></span>
                        </div>
                        <div class="sidebar-p-content">
                            <span class="profil-u"><a class="sidebar-profil-name no-style" href="{{ path('profil.index', {id: app.user.id}) }}">Mael</a></span>
                            <a class="no-style" href="{{ path('profil.index', {id: app.user.id}) }}"><i class="sidebar-icon-account"></i>Mon profil</a>
                            <a class="no-style" href="{{ path('profil.details', {id: app.user.id}) }}"><i class="sidebar-icon-accountDetails"></i>Détails du compte</a>
                            <a class="no-style" href="{{ path('profil.security', {id: app.user.id}) }}"><i class="sidebar-icon-accountSecurity"></i>Sécurité du compte</a>
                            {% if is_granted('ROLE_SUPPORT') %}
                            <a class="no-style sidebar-p-adminPanel" href="{{ path('admin.home') }}"><i class="sidebar-icon-panelAdmin"></i>Administration</a>
                            {% endif %}
                            <a class="sidebar-p-logout no-style" href="{{ path('logout') }}"><i class="sidebar-icon-logout"></i>Se deconnecter</a>
                        </div>
                    </nav>
                {% endif %}
            </div>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
