<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if is_dashboard is defined and is_dashboard == 'false' %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <img src="" alt="">
                <a class="navbar-brand" href="{{ path('home') }}">Symfony Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if current_menu is defined and current_menu == 'home' %}active{% endif %}" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current_menu is defined and current_menu == 'blog' %}active{% endif %}" href="{{ path('blog.index') }}">Blog</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a href="" class="nav-link {% if current_menu is defined and current_menu == 'profile' %}active{% endif %}">Profil</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_SUPPORT') or is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin.home') }}">Dashboard</a>
                            </li>
                        {% endif %}
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a class="nav-link {% if current_menu is defined and current_menu == 'login' %}active{% endif %}" href="{{ path('login') }}">Connexion</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item ml-auto">
                                <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                            </li>
                        {% endif %}
                        {% if not is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a href="{{ path('register') }}" class="nav-link {% if current_menu is defined and current_menu == 'register' %}active{% endif %}">Inscription</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endif %}
        {% if is_dashboard is defined and is_dashboard == 'true' %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <img src="" alt="">
                <a class="navbar-brand" href="{{ path('home') }}">Symfony Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if current_menu is defined and current_menu == 'dashboard' %}active{% endif %}" href="{{ path('admin.home') }}">Panneau d'administration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current_menu is defined and current_menu == 'dashboard-users' %}active{% endif %}" href="{{ path('admin.users') }}">Utilisateurs</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="gestionBlogDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestion du Blog</a>
                            <div class="dropdown-menu" aria-labelledby="gestionBlogDropdown">
                                <a href="{{ path('admin.blog') }}" class="dropdown-item {% if current_menu is defined and current_menu == 'dashboard-blog' %}active{% endif %}">Statistique du blog</a>
                                <a href="{{ path('admin.blog.manage.post') }}" class="dropdown-item {% if current_menu is defined and current_menu == 'blog-posts-manage' %}active{% endif %}">Gestion des articles</a>
                                <a href="{{ path('admin.blog.manage.categories') }}" class="dropdown-item {% if current_menu is defined and current_menu == 'blog-categories-manage' %}active{% endif %}">Gestion des catégories</a>
                                <a href="{{ path('admin.blog.manage.comment') }}" class="dropdown-item {% if current_menu is defined and current_menu == 'blog-comments-manage' %}active{% endif %}">Gestion des commentaires</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
