{% extends 'base.html.twig' %}
{% block title 'Se connecter' %}
{% block body %}
    <div class="container mt-4">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        {% for success in app.flashes('success-send-mail-fopw') %}
            <div class="alert alert-success">
                {{ success }}
            </div>
        {% endfor %}
        {% for success in app.flashes('success-change-password') %}
            <div class="alert alert-success">
                {{ success }}
            </div>
        {% endfor %}
        <form action="{{ path('login') }}" method="post" class="col-md-4 float-left">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>
            <div class="form-group text-center">
                <input type="checkbox" id="remember_me" name="_remember_me">
                <label for="remember_me">Se souvenir</label>
                <a href="{{ path('forgot_password_request') }}">Mot de passe oublié</a>
            </div>
            <div class="form-group text-center">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </div>
        </form>
        <div class="float-right col-md-6 mt-4">
            <button type="button" class="btn btn-primary d-block">
                <i class="fab fa-github"></i>
                <span><a href="{{ path('github_connect') }}" class="text-decoration-none text-white">Se connecter via Github</a></span>
            </button>
            <button type="button" class="btn btn-primary d-block mt-2">
                <i class="fab fa-google"></i>
                <span><a href="{{ path('google_connect') }}" class="text-decoration-none text-white">Se connecter via Google</a></span>
            </button>
            <button type="button" class="btn btn-primary d-block mt-2">
                <i class="fab fa-twitch"></i>
                <span><a href="{{ path('twitch_connect') }}" class="text-decoration-none text-white">Se connecter via Twitch</a></span>
            </button>
        </div>
    </div>
{% endblock %}